@page "/"

<PageTitle>Pear Review</PageTitle>

<h1 class="mb-5">Pear Review</h1>

<h5 class="mb-5" style="width: 600px;">
     <small class="text-body-secondary">Welcome to Pear Review, a quick and easy peer review system for your courses!</small>
</h5>

<p class="text-wrap mb-5" style="width: 600px;">
    In Pear Review you can create Courses and add Students to them either one-by-one 
    or through a CSV file following our <a href="/csv"><i>format</i></a>. Once your 
    Students are in the Course you can create Tasks for them to submit and configure 
    the peer review process. Once the submissions and reviews are in you can go 
    through them and give your final grade and comment.
</p>
