@page "/todo"

<h3>Todo</h3>

<ul>
	@foreach (var item in Todos)
	{
			<li>
				@if (@item.IsDone)
				{
					<span>✔</span>
				} 
				else
				{
					<span>❌</span>
				}
				@item.Todo
			</li>
	}
</ul>

<!-- by default bind is on the onchange evenet -->
<input @bind="NewTodo" @bind:event="oninput" placeholder="What do you need to do?" />
<input @bind="DueDate" @bind:format="yyyy-MM-dd" placeholder="Due Date" />
<input @bind="Done" type="checkbox" />
<button @onclick="Save">Save</button>

@if (!string.IsNullOrEmpty(NewTodo))
{
	<p>@NewTodo Due: @DueDate?.ToShortDateString()</p>
}

@code {
	private List<TodoItem> Todos = new();

	private string NewTodo = string.Empty;

	private DateTime? DueDate = null;

	private bool Done = false;

	private void Save()
	{
		if (string.IsNullOrEmpty(NewTodo)) return;

		Todos.Add(new TodoItem
			{
				Todo = NewTodo,
				IsDone = Done
			});
		NewTodo = string.Empty;
	}

	public class TodoItem
	{
		public string Todo { get; set; } = string.Empty;
		public DateTime? DueDate { get; set; }
		public bool IsDone { get; set; }
	}
}
