@page
@using PearReview.Areas.Identity.Data;
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" placeholder="ex. John"/>
                <label asp-for="Input.FirstName" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" placeholder="ex. Doe"/>
                <label asp-for="Input.LastName" class="form-label"></label>
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <p class="mr-2">I'm using Pear Review as a:</p>
                </div>
                @foreach (var role in System.Enum.GetValues(typeof(UserRole)).OfType<UserRole>())
                {
                    if (role == UserRole.None)
                    {
                        continue;
                    }
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.Input.Role, role) @*, new { @class = "form-check-input" })*@
                        <label asp-for="Input.Role" class="form-check-label">@role.ToString()</label>
                    </div>
                }
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Group" class="form-control" placeholder="ex. 43"/>
                <label asp-for="Input.Group" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FacultyNumber" class="form-control" placeholder="ex. 121220183"/>
                <label asp-for="Input.FacultyNumber" class="form-label"></label>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
